body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  overflow: hidden; /* Add this to hide any overflow */
}

#bgVideo {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  opacity: 0;
  transition: opacity 5s;
}

#iframeContainer {
  position: fixed; /* Change from text-align to position */
  top: 0;
  left: 0;
  width: 100%; /* Add this */
  height: 100%; /* Add this */
  display: flex; /* Add this */
  justify-content: center; /* Add this */
  align-items: center; /* Add this */
  opacity: 0;
  z-index: 1; /* Add this to place the iframeContainer on top of the video */
}

#iframeContainer iframe {
  width: 100%;
  height: 100%;
  max-width: 800px;
  max-height: 450px;
  border: none; /* Add this to remove any default border from the iframe */
}
